<a href="https://colab.research.google.com/github/redtideresearchgroup/redtideresearchgroup.github.io/blob/master/dropNaN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#This started out as experimental but got good

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
from google.colab import files
from sklearn.preprocessing import LabelEncoder
from __future__ import absolute_import, division, print_function, unicode_literals
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [0]:
uploaded = files.upload()

Saving habsos_20190211.csv to habsos_20190211.csv

In [0]:
df_raw = pd.read_csv('habsos_20190211.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (20,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
df_raw.dtypes

objectid             int64
description         object
latitude           float64
longitude          float64
state_id            object
sample_date         object
sample_depth       float64
genus               object
species             object
category            object
cellcount          float64
cellcount_unit      object
cellcount_qa         int64
salinity           float64
salinity_unit       object
salinity_qa          int64
water_temp         float64
water_temp_unit     object
water_temp_qa        int64
wind_dir           float64
wind_dir_unit       object
wind_dir_qa          int64
wind_speed         float64
wind_speed_unit     object
wind_speed_qa        int64
qa_comment          object
dtype: object

In [0]:
#df_raw = df_raw.drop(102562)

In [0]:
#df_raw = df_raw.drop(102563)

In [0]:
df_raw=df_raw.iloc[1:]

In [0]:
df_raw.shape

(159736, 26)

In [0]:
df_raw['sample_date'] = pd.to_datetime(df_raw.sample_date)

In [0]:
df_raw.dtypes

objectid                    int64
description                object
latitude                  float64
longitude                 float64
state_id                   object
sample_date        datetime64[ns]
sample_depth              float64
genus                      object
species                    object
category                   object
cellcount                 float64
cellcount_unit             object
cellcount_qa                int64
salinity                  float64
salinity_unit              object
salinity_qa                 int64
water_temp                float64
water_temp_unit            object
water_temp_qa               int64
wind_dir                  float64
wind_dir_unit              object
wind_dir_qa                 int64
wind_speed                float64
wind_speed_unit            object
wind_speed_qa               int64
qa_comment                 object
dtype: object

**Use datetime to extract year/month/date columns as well as seasons**

In [0]:
df_raw['year'] = pd.DatetimeIndex(df_raw['sample_date']).year
df_raw['month'] = pd.DatetimeIndex(df_raw['sample_date']).month
df_raw['day'] = pd.DatetimeIndex(df_raw['sample_date']).day
df_raw['dayofyear'] = pd.DatetimeIndex(df_raw['sample_date']).dayofyear
df_raw['time'] = pd.DatetimeIndex(df_raw['sample_date']).time

In [0]:
list(df_raw)

['objectid',
 'description',
 'latitude',
 'longitude',
 'state_id',
 'sample_date',
 'sample_depth',
 'genus',
 'species',
 'category',
 'cellcount',
 'cellcount_unit',
 'cellcount_qa',
 'salinity',
 'salinity_unit',
 'salinity_qa',
 'water_temp',
 'water_temp_unit',
 'water_temp_qa',
 'wind_dir',
 'wind_dir_unit',
 'wind_dir_qa',
 'wind_speed',
 'wind_speed_unit',
 'wind_speed_qa',
 'qa_comment',
 'year',
 'month',
 'day',
 'dayofyear',
 'time']

In [0]:
df_edit1 = df_raw.drop(['objectid',
 'description',
 #'latitude',
 #'longitude',
 'state_id',
 'sample_date',
 #'sample_depth',
 'genus',
 'species',
 #'category',
 'cellcount',
 'cellcount_unit',
 'cellcount_qa',
 #'salinity',
 'salinity_unit',
 'salinity_qa',
 #'water_temp',
 'water_temp_unit',
 'water_temp_qa',
 'wind_dir',
 'wind_dir_unit',
 'wind_dir_qa',
 'wind_speed',
 'wind_speed_unit',
 'wind_speed_qa',
 'qa_comment',
 #'year',
 'month',
 'day',
 #'dayofyear',
 'time'], axis=1)

In [0]:
df_edit1.head()

   latitude  longitude  sample_depth  ... water_temp  year  dayofyear
1   26.9345   -82.3535           0.5  ...        NaN  1953        231
2   27.4684   -82.6937           0.5  ...        NaN  1953        238
3   26.1324   -81.8069           0.5  ...        NaN  1953        238
4   26.5334   -81.9796           0.5  ...        NaN  1953        238
5   27.4894   -83.1205           0.5  ...        NaN  1953        246

[5 rows x 8 columns]

In [0]:
df_edit1.describe

<bound method NDFrame.describe of         latitude  longitude  sample_depth  ... water_temp  year  dayofyear
1       26.93450  -82.35350           0.5  ...        NaN  1953        231
2       27.46840  -82.69370           0.5  ...        NaN  1953        238
3       26.13240  -81.80690           0.5  ...        NaN  1953        238
4       26.53340  -81.97960           0.5  ...        NaN  1953        238
5       27.48940  -83.12050           0.5  ...        NaN  1953        246
...          ...        ...           ...  ...        ...   ...        ...
159732  30.22422  -85.71397           0.5  ...        NaN  2019         38
159733  25.91165  -81.72805           0.5  ...       20.9  2019         38
159734  26.33470  -80.07171           0.5  ...        NaN  2019         38
159735  27.33375  -82.57938           0.5  ...        NaN  2019         38
159736  27.33160  -82.57790           0.5  ...        NaN  2019         38

[159736 rows x 8 columns]>

In [0]:
df_edit2=df_edit1.dropna()

In [0]:
df_edit2.reset_index(drop=True)

       latitude  longitude  sample_depth  ... water_temp  year  dayofyear
0      27.21670  -82.54170           0.5  ...      18.00  1954         36
1      27.15000  -82.50830           0.5  ...      18.20  1954         36
2      27.35330  -82.64500           0.5  ...      18.50  1954         36
3      27.34170  -82.71670           0.5  ...      18.50  1954         36
4      27.30830  -82.59670           0.5  ...      18.60  1954         36
...         ...        ...           ...  ...        ...   ...        ...
66155  29.79843  -85.30468           0.1  ...      16.30  2019         37
66156  30.42320  -86.18300           0.5  ...      15.80  2019         37
66157  30.40940  -86.14530           0.5  ...      15.70  2019         37
66158  30.35153  -86.25118           0.5  ...      18.08  2019         37
66159  26.25375  -81.82377           0.5  ...      19.40  2019         38

[66160 rows x 8 columns]

In [0]:
for col in df_edit2.columns: #Whats in the data
  print(col, ': ', len(df_edit2[col].unique()), 'labels')

latitude :  7668 labels
longitude :  7678 labels
sample_depth :  448 labels
category :  5 labels
salinity :  3463 labels
water_temp :  1886 labels
year :  65 labels
dayofyear :  366 labels

In [0]:
df_new = df_edit2

**Here we need to one hot encode the data OR label encoding**

In [0]:
le = LabelEncoder()
label = le.fit_transform(df_new['category'])

In [0]:
label

array([3, 3, 3, ..., 3, 3, 3])

In [0]:
le.classes_

array(['high', 'low', 'medium', 'not observed', 'very low'], dtype=object)

In [0]:
df_new = df_new.drop('category', axis='columns')

In [0]:
df_new.head()

    latitude  longitude  sample_depth  salinity  water_temp  year  dayofyear
20   27.2167   -82.5417           0.5      34.5        18.0  1954         36
21   27.1500   -82.5083           0.5      34.6        18.2  1954         36
22   27.3533   -82.6450           0.5      34.0        18.5  1954         36
23   27.3417   -82.7167           0.5      34.2        18.5  1954         36
24   27.3083   -82.5967           0.5      34.0        18.6  1954         36

In [0]:
df_new['category']= label

In [0]:
df_new

        latitude  longitude  sample_depth  ...  year  dayofyear  category
20      27.21670  -82.54170           0.5  ...  1954         36         3
21      27.15000  -82.50830           0.5  ...  1954         36         3
22      27.35330  -82.64500           0.5  ...  1954         36         3
23      27.34170  -82.71670           0.5  ...  1954         36         3
24      27.30830  -82.59670           0.5  ...  1954         36         3
...          ...        ...           ...  ...   ...        ...       ...
159708  29.79843  -85.30468           0.1  ...  2019         37         3
159710  30.42320  -86.18300           0.5  ...  2019         37         3
159712  30.40940  -86.14530           0.5  ...  2019         37         3
159714  30.35153  -86.25118           0.5  ...  2019         37         3
159728  26.25375  -81.82377           0.5  ...  2019         38         3

[66160 rows x 8 columns]

In [0]:
x=df_new.drop('category', axis=1)

In [0]:
y=df_new.category

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25)

In [0]:
x_train.head()

        latitude  longitude  sample_depth  ...  water_temp  year  dayofyear
42205    26.4922   -82.0515           0.5  ...       21.00  1997        322
143478   25.4533   -81.2250           0.5  ...       28.97  2017        285
134708   30.3273   -87.1419           1.0  ...       22.50  2016        321
130588   27.4959   -82.6522           0.5  ...       31.01  2016        179
12531    27.8867   -82.9417           8.2  ...       23.00  1958        328

[5 rows x 7 columns]

In [0]:
y_train.head()

42205     1
143478    3
134708    3
130588    3
12531     3
Name: category, dtype: int64

In [0]:
inputs = keras.Input(shape=(7,), name='digits')
x = layers.Dense(64, activation='relu', name='dense_1')(inputs)
x = layers.Dense(64, activation='relu', name='dense_2')(x)
x = layers.Dense(64, activation='relu', name='dense_3')(x)
x = layers.Dense(64, activation='relu', name='dense_4')(x)
outputs = layers.Dense(5, name='predictions')(x)

model = keras.Model(inputs=inputs, outputs=outputs)

In [0]:
from tensorflow import keras
from tensorflow.keras import layers
model = keras.Model(inputs=inputs, outputs=outputs)

In [0]:
model.compile(optimizer=keras.optimizers.RMSprop(),
              loss=keras.losses.SparseCategoricalCrossentropy(from_logits=True),
              metrics=['sparse_categorical_accuracy'])

In [0]:
history = model.fit(x_train,y_train,
                    batch_size=64,
                    epochs=21)

Train on 49620 samples
Epoch 1/21
49620/49620 [==============================] - 4s 72us/sample - loss: 3.6688 - sparse_categorical_accuracy: 0.7108
Epoch 2/21
49620/49620 [==============================] - 2s 38us/sample - loss: 0.7824 - sparse_categorical_accuracy: 0.7976
Epoch 3/21
49620/49620 [==============================] - 2s 39us/sample - loss: 0.7502 - sparse_categorical_accuracy: 0.8011
Epoch 4/21
49620/49620 [==============================] - 2s 39us/sample - loss: 0.7400 - sparse_categorical_accuracy: 0.8023
Epoch 5/21
49620/49620 [==============================] - 2s 39us/sample - loss: 0.7320 - sparse_categorical_accuracy: 0.8031
Epoch 6/21
49620/49620 [==============================] - 2s 40us/sample - loss: 0.7293 - sparse_categorical_accuracy: 0.8032
Epoch 7/21
49620/49620 [==============================] - 2s 40us/sample - loss: 0.7266 - sparse_categorical_accuracy: 0.8032
Epoch 8/21
49620/49620 [==============================] - 2s 40us/sample - loss: 0.7241 - sparse_categorical_accuracy: 0.8032
Epoch 9/21
49620/49620 [==============================] - 2s 40us/sample - loss: 0.7225 - sparse_categorical_accuracy: 0.8032
Epoch 10/21
49620/49620 [==============================] - 2s 41us/sample - loss: 0.7224 - sparse_categorical_accuracy: 0.8032
Epoch 11/21
49620/49620 [==============================] - 2s 39us/sample - loss: 0.7201 - sparse_categorical_accuracy: 0.8032
Epoch 12/21
49620/49620 [==============================] - 2s 39us/sample - loss: 0.7178 - sparse_categorical_accuracy: 0.8032
Epoch 13/21
49620/49620 [==============================] - 2s 40us/sample - loss: 0.7171 - sparse_categorical_accuracy: 0.8032
Epoch 14/21
49620/49620 [==============================] - 2s 40us/sample - loss: 0.7167 - sparse_categorical_accuracy: 0.8032
Epoch 15/21
49620/49620 [==============================] - 2s 39us/sample - loss: 0.7164 - sparse_categorical_accuracy: 0.8032
Epoch 16/21
49620/49620 [==============================] - 2s 39us/sample - loss: 0.7148 - sparse_categorical_accuracy: 0.8032
Epoch 17/21
49620/49620 [==============================] - 2s 42us/sample - loss: 0.7154 - sparse_categorical_accuracy: 0.8032
Epoch 18/21
49620/49620 [==============================] - 2s 40us/sample - loss: 0.7152 - sparse_categorical_accuracy: 0.8032
Epoch 19/21
49620/49620 [==============================] - 2s 39us/sample - loss: 0.7155 - sparse_categorical_accuracy: 0.8032
Epoch 20/21
49620/49620 [==============================] - 2s 40us/sample - loss: 0.7141 - sparse_categorical_accuracy: 0.8032
Epoch 21/21
49620/49620 [==============================] - 2s 39us/sample - loss: 0.7135 - sparse_categorical_accuracy: 0.8032

In [0]:
model.summary()

Model: "model_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
digits (InputLayer)          [(None, 7)]               0
_________________________________________________________________
dense_1 (Dense)              (None, 64)                512
_________________________________________________________________
dense_2 (Dense)              (None, 64)                4160
_________________________________________________________________
dense_3 (Dense)              (None, 64)                4160
_________________________________________________________________
dense_4 (Dense)              (None, 64)                4160
_________________________________________________________________
predictions (Dense)          (None, 5)                 325
=================================================================
Total params: 13,317
Trainable params: 13,317
Non-trainable params: 0
_________________________________________________________________